.content-footer {
    background-image: url('../img/footer-bg.jpg');
    background-size: cover;

    .container {
        position: relative;
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer-links {
            display: flex;

            .links {
                margin-right: 30px;

                ul {
                    list-style-type: none;

                    li{
                        color: #8F8E8E;

                        &:hover,
                        &:active {
                            color: white;
                            cursor: pointer;
                        }
                    }
                }

                h3 {
                    color: white;
                    padding: 15px 0;
                }
            }
        }

        .footer-image {
            img {
                position: absolute;
                top: 0;
                right: 0;
                transform: translateY(-25%);
            }
        }
    }
}

